/*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
/* ne pas toucher au dessus*/

h1
{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
  margin: 0 auto;
}

header
{
  color: white;
  background-image: linear-gradient(to top, #050611, #10111e, #15182b, #1b1f38, #222546);
}

body
{
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: 1950px;
}


nav
{
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.9em;
}

section
{
  border: 3px dashed rgb(0, 0, 0);
  margin: 100px;
  height: 1900px;
}

article
{
  padding-left: 5px;
  height: 70%;
  margin: 15px;
  text-align: justify;
  color: white;
}

article>h2
{
    text-align: center;
    margin-bottom: 110px;
}

article>p
{
    margin-bottom: 70px;
}

.container-text--image-right
{
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: space-between;
  font-size: 19px;
}

aside
{
    height: 700px;
    width: 0 auto;
    color: white;
    font-size: 0.8em;
}

aside>p
{
  width: 93%;
  text-align: center;
}

.container-text__image
{
  margin-right: 30px;
  margin-top: 200px;
}

.container-text--full
{
margin-top: 350px;
font-size: 19px;
}

.story
{
  height: 600px;
  width: 50%;
}

.container-image--text
{
  width: 100%;
  text-align: center;
}




footer
{

  background-color: black;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center ;
  margin-top: 150px;
}

.logo
{
  height: 50px;
  border-radius: 11px;
  margin: 15px;
}

footer>p
{
  color: white;
  font-size: 12px;
}

a:hover
{
  color: red;
}

@media screen and (max-width:699px)
{

  h1
  {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    margin: 0;
  }

  

  nav
{
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
}

section
{
  margin: 10px;
  height: auto;
}

h2
{
  font-size: 1.3em;
}

.container-text--image-right
{
  font-size: 16px;
  display: block;
}

article
{
  padding-left: 1px;
  padding-right: 1px;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 3px;
  text-align: justify;
  color: white;
}

article>h2
{
  margin-bottom: 0px;
  height: 55px;
}

aside
{
  width: auto;
  height: auto;
  margin: auto;
  display: block; 
  text-align: center;
}

.container-text__image
{
  height: 200px;
  width: 250px;
  margin-top: 0;
  margin-right: 0;
}

.container-text--full
{
  margin-top: 1120px;
  font-size: 1em;
}

.story
{
  height: 250px;
  width: 270px;
}

footer
{
  display: flex;
  flex-wrap: wrap;
}

footer>p
{
  margin:0;
  text-align: center;
  font-size: 0.6em;
}

.logo
{
  margin-bottom: 0;
}