/*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
/* ne pas toucher au dessus*/

h1
{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
  margin: 0 auto;
}

header
{
  color: white;
  background-image: linear-gradient(to top, #050611, #10111e, #15182b, #1b1f38, #222546);
}

body
{
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: 1950px;
}


nav
{
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.9em;
}

section
{
  border: 3px dashed rgb(0, 0, 0);
  margin: 100px;
  height: 2450px;
}

article
{
  padding-left: 5px;
  height: 70%;
  margin: 15px;
  color: white;
}

h2
{
 text-align: center;
}


.container-image__mini-1
{
    display: flex;
    flex-direction: column;
}


.container-image__block-1__bimg
{
    height: 800px;
    width: 650px;
}

.container-image__block-2
{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
  padding: 15px;
}


.container-image__block__simg
{
  height: 550px;
  width: 650px;
  padding: 15px;
}

.container-image__block-1
{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
  padding: 15px;
}

.container-image__block-2
{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
  padding: 15px;
}

.container-image__mini-2
{
    display: flex;
    flex-direction: column;
}

.container-image__block-2__bimg
{
    height: 1150px;
    width: 650px;
    padding-right: 20px;
}




footer
{

  background-color: black;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center ;
  margin-top: 150px;
}

.logo
{
  height: 50px;
  border-radius: 11px;
  margin: 15px;
}

footer>p
{
  color: white;
  font-size: 12px;
}

a:hover
{
  color: red;
}


@media screen and (max-width:699px)
{

  h1
  {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    margin: 0;
  }


  nav
{
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
}

h2
{
  font-size: 1.2em;
}

section
{
  margin: 5px;
  height: auto;
}


.container-text--image  
{
  text-align: center;
}

.container-image__block-1__bimg
{
  height: 200px;
  width: 200px;
  padding-right: 10px;
}

.container-image__mini-1
{
  height: auto;
  width: 200px;
}

.container-image__block__simg
{
  height: 200px;
  width: 200px;
}

.container-image__block-2__bimg
{
  height: 290px;
  width: 200px;
  padding-right: 9px;
}

.container-image__block-1
{
  display: block;
  padding-left: 14px;
}

.container-image__block-2
{
  display: block;
  padding-top: 0px;
}

footer
{
  display: flex;
  flex-wrap: wrap;
}

footer>p
{
  margin:0;
  text-align: center;
  font-size: 0.6em;
}

.logo
{
  margin-bottom: 0;
}