/*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
/* ne pas toucher au dessus*/

h1
{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
  margin: 0;
}

img {
  max-width: 100%;
}

header
{
  background-color: black;
  color: white;
  background-image: linear-gradient(to top, #050611, #10111e, #15182b, #1b1f38, #222546);
}

body
{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 1950px;
}


nav
{
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.9em;
}

section
{
  border: 3px dashed rgb(0, 0, 0);
  margin: 100px;  
}

article
{
  padding-left: 5px;
  width: 70%;
  height: 70%;
  padding: 15px;
  margin: 15px;
  text-align: justify;
  color: white;
}
article>h2
{
  text-align: center;
  color: white;
  height: 30px;
}
.container-text--image-right
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 19px;
}

.container-text--image-left
{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.container-text--image-left>article
{
  font-size: 18px;
  margin: 0;
}

.space
{
  width: 500px;
}

.container-image
{
  margin: 15px;
}

.moon
{
  height: 250px;
}

.container-image>img
{
  position: relative;
  width: 100%;
}

aside
{
  width: 30%;
  height: 77.5%;
  margin: 15px;
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  flex-wrap: wrap;
}

a:hover
{
  color: red;
}

footer
{

  background-color: black;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center ;
  margin-top: 150px;
}

.logo
{
  height: 50px;
  border-radius: 11px;
  margin: 15px;
}

footer>p
{
  color: white;
  font-size: 12px;
}



@media screen and (max-width:699px)
{

  h1
  {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    margin: 0;
  }


  nav
{
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
}

  section
  {
    border: 3px dashed rgb(0, 0, 0);
    margin: 10px;
  }

.container-text--image-right
{
  font-size: 16px;
  display: block;
}

article
{
  padding-left: 1px;
  padding-right: 1px;
  width: 96%;
  height: 70%;
  padding: 5px;
  margin: 5px;
  text-align: justify;
  color: white;
}

article>h2
{
  margin-bottom: 0px;
  height: 55px;
}

aside
{
  width: 250px;
  height: 250px;
  margin: auto;
}

.container-text--image-left
{
  display: block;
}

.new_planet
{
  display: block;
}

.new_planet>p
{
  padding-left: 5px;
  font-size: 16px;
}

.moon
{
  height: auto;
}

footer
{
  display: flex;
  flex-wrap: wrap;
}

footer>p
{
  margin:0;
  text-align: center;
  font-size: 0.6em;
}

.logo
{
  margin-bottom: 0;
}
}


@media screen and (max-width:999px)
{

  section
  {
  margin: 15px;
  }

  article
  {
    padding: 0;
  }

  .blackhole
  {
  height: 200px;
  width: 500px;
  }

  .space
  {
    height: 250px;
  }

  footer
  {
    display: flex;
    flex-wrap: wrap;
  }

  footer>p
  {
    margin:0;
    text-align: center;
    font-size: 0.6em;
  }

  .logo
  {
    margin-bottom: 0;
  }

}
